<div class="center hero-unit">

  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

  <html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="generator" content="Adobe GoLive" />
    <title>!!!</title>
    <style type="text/css" media="screen"><!--
    #outline { position: relative; height: 800px; width: 800px; margin: 18px auto 0; border: solid 1px #999; }
    #caption { width: 260px; left: 48px; top: 318px; position: absolute; visibility: visible; }
    #text { left: 436px; top: 318px; position: absolute; width: 400px; visibility: visible; margin-top: 10px; }
    #title { width: 800px; top: 100px; position: absolute; visibility: visible; }
    p { color: #666; font-size: 16px; font-family: "Lucida Grande", Arial, sans-serif; font-weight: normal; margin-top: 0; }
    h1 { color: #778fbd; font-size: 20px; font-family: "Lucida Grande", Arial, sans-serif; font-weight: 500; line-height: 32px; margin-top: 4px; }
    h2 { color: #778fbd; font-size: 18px; font-family: "Lucida Grande", Arial, sans-serif; font-weight: normal; margin: 0.83em 0 0; }
    h3 { color: #666; font-size: 60px; font-family: "Lucida Grande", Arial, sans-serif; font-weight: bold; text-align: center; letter-spacing: -1px; width: auto; }
    h4 { font-weight: bold; text-align: center; margin: 1.33em 0; }
    a { color: #666; text-decoration: underline; }
    --></style>
  </head>

  <body>
  <!--LiveInternet counter--><script type="text/javascript"><!--
  document.write("<a href='http://www.liveinternet.ru/click' "+
          "target=_blank><img src='//counter.yadro.ru/hit?t29.4;r"+
          escape(document.referrer)+((typeof(screen)=="undefined")?"":
          ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
          screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
          ";"+Math.random()+
          "' alt='' title='LiveInternet: показано количество просмотров и"+
          " посетителей' "+
          "border='0' width='88' height='120'><\/a>")
  //--></script><!--/LiveInternet-->

  <div id="outline">
    <img src='assets/gradient.jpg' alt="" height="384" width="800" border="0" />
    <div id="title">
      <h3>Pugs world</h3>
    </div>


    <div id="caption">
      <h1>Даже мопс может создать собственный веб-сайт:
       <a href="http://rubyonrails.org/">Ruby on Rails</a>
      </h1>
      <img src='assets/Ruby_on_Rails-logo.png' alt="" height="200" width="200" border="0" />
      <h1><br />
      </h1>
    </div>
    <div id="text">

      <img src='assets/maf.png' alt="" height="400" width="280" border="0" />

    </div>

  </div>
  <h4>אולג אפל<br /> </h4>
  </body>

  </html>
</div>


