<div class="center hero-unit">
  <h1>Welcome to the pugs world</h1>

  <h2>
    This is the home page for the pug Maffin
  </h2>
  <%= link_to image_tag("maf.png", alt: "Maffin" , size: "640x480" ), 'http://rubyonrails.org/' %>

</div>


