<div class="center hero-unit">
<<<<<<< HEAD
  <h1>Welcome to the pugs world</h1>

  <h2>
    This is the home page for the pug Maffin
  </h2>
  <%= link_to image_tag("maf.png", alt: "Maffin" , size: "320x240" ), 'http://rubyonrails.org/' %>

</div>



=======
  <h1>Welcome to the Pugs world</h1>

  <h2>
    This  Maffin Pug image
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("mafmaf.jpg" , alt: "PUG", size: "640x480"), 'http://rubyonrails.org/' %>
>>>>>>> static-pages
