<div class="center hero-unit">
  <h1>Welcome to the Pugs world</h1>

  <h2>
    This  Maffin Pug image
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("mafmaf.jpg" , alt: "PUG", size: "640x480"), 'http://rubyonrails.org/' %>
